<nav class="ap-sidebar" class="ap-sidebar">
  <div class="ap-sidebar__content">
    <div class="ap-sidebar__controls">
    </div>
    <ul class="ap-sidebar__nav" id="navigation">
      <li class="ap-sidebar__nav-item" ui-sref-active="active">
        <a class="ap-sidebar__nav-anchor" ui-sref-active="ap-sidebar__nav-anchor--active" ui-sref="angularProfile.account.settings" href="#/account/settings">
          <i class="fa fa-cogs ap-sidebar__nav-icon" name="settings"></i>
          <span class="ap-sidebar__nav-text">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
