//==============================================================================
//
// app/styles/defaults/_palettes.scss
//
//==============================================================================

$use-third-party-palette: true !default;
$default-palettes: ();
$third-party-palettes: (
  facebook: (
    base: rgb(59, 89, 152)
  ),
  twitter: (
    base: rgb(0, 172, 237),
  ),
  linkedin: (
    base: rgb(0, 123, 182),
  ),
  googleplus: (
    base: rgb(221, 75, 57),
  ),
  youtube: (
    base: rgb(187, 0, 0)
  )
);
$custom-palettes: () !default;
