<div class="panel">
  <div class="panel-heading">
    <div class="bg-success" ng-show="apLoginFormContainerVm.loggedOut">You're now successfully logged out. You can log in again below.</div>
    <div class="bg-success" ng-show="apLoginFormContainerVm.registeredUser">Thanks for registering, you can now sign in below</div>
    <div class="bg-danger" ng-show="apLoginFormContainerVm.expired">Your session expired. Please login again</div>
    <div class="bg-danger" ng-show="apLoginFormContainerVm.hasError">{{apLoginFormContainerVm.errorMessage}}</div>
  </div>
  <div class="panel-body">
    <ap-loading-data display-text="'Logging In'" ng-show="apLoginFormContainerVm.isSubmitting"></ap-loading-data>
    <ap-login on-login="apLoginFormContainerVm.login(valid, form, credentials)" ng-show="!apLoginFormContainerVm.isSubmitting"></ap-login>
    <hr>
    <a class="btn btn-primary btn-lg btn-block" ui-sref="authentication.register.form" href="/sign-up">
      Sign up for an account
    </a>
  </div>
</div>
