// ==============================================================================
//
//  app/components/ap-header/components/ap-account-header/_ap-account-header.scss
//
// ==============================================================================

.ap-account-header {
  &__content {
    padding: 0 1.25rem;
    display: flex;
    align-self: stretch;
    align-items: center;
  }

  &__logout {
    &-anchor {
      font-family: 'Arial', serif;
      font-size: 1.25rem;
      font-style: normal;
      color: palette(ap, ap-blue);
      margin: 0.5rem;
      cursor: pointer;
    }
  }
}
