<div class="panel">
  <div class="panel-body">
    <div class="alr-login">
      <div class="alr-login__container">
        <header class="alr-login__header">
          <h1 class="alr-login__title">The Art Loss Register</h1>
          <hr class="alr-login__hr">
          <h2 class="alr-login__sub-title">Thank you for registering an account.</h2>
        </header>
        <div class="alr-login__body">
          <p>
            Now we just need you to verify your account. You should have received an email with
            instructions on what to do.
          </p>
          <p>
            If you haven't received this email, please make sure to check your spam folders or you can
            request a new email validation to be sent to you below.
          </p>
          <alr-resend-validation resend-validation="alrRegisterFormCompleteVm.resendValidation()"></alr-resend-validation>
        </div>
      </div>
    </div>
  </div>
</div>
