// ==============================================================================
//
//  app/routes/authentication/_authentication.scss
//
// ==============================================================================

.authentication {
  display: flex;
  justify-content: center;
  align-self: stretch;
  height: calc(100vh - 120px);

  &__container {
    width: 60%;
    max-width: 1024px;
    padding: 2rem 0;

    @media (max-width: 960px) {
      width: 80%;
    }

    @media (max-width: 600px) {
      width: 100%;
      padding: 2rem 1rem;
    }
  }
}
